# PostgreSQL
POSTGRES_DB=fintech
POSTGRES_USER=fintech_admin
POSTGRES_PASSWORD=fintech_secure_pass_2024
POSTGRES_PORT=55432

# pgAdmin
PGADMIN_EMAIL=admin@fintech.local
PGADMIN_PASSWORD=admin12345
PGADMIN_PORT=5050